body{
    
    text-align: justify;
    background-color: aliceblue;
}
.heading{
    text-transform: uppercase;
    font-style: bold;
    text-align: center;
    color: darkblue;

}
.heading1{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}